# HOST related variables
HOST_MSR_LICENSE_FILE=Path License

# Image variable
CONTAINER_REGISTRY_URL= Repo_URL
CONTAINER_IMAGE_REPOSITORY=Image_Name 
CONTAINER_IMAGE_TAG=Tag

# GUEST related variables
GUEST_IS_HOME=/opt/softwareag/IntegrationServer
MSR_LICENSE_MOUNT_POINT=/tmp/license.xml
APP_PROPS_MOUNT_POINT=/tmp/application.properties
IS_ADMIN_PWD=Your PSW
